$primary: #985F99;
$secondary: #C9C5BA;


@import "../../node_modules/bootstrap/scss/bootstrap";


.slider {
    width: calc(calc(1.325rem + 0.9vw)*3);
    text-align: right;
}

.table-item {
    color: #ffc107;
    &:hover {
        background-color: white;
        color: #3b3b3b;
        cursor: pointer;
    }
}

.stripe-0 {
    background-color: #222222;
}

.stripe-1 {
    background-color: #3b3b3b;
}

.table-header {
    background-color: #3b3b3b;
    color: white;

}