$primary: #985F99;
$secondary: #C9C5BA;


@import "../../node_modules/bootstrap/scss/bootstrap";


.slider {
    width: calc(calc(1.325rem + 0.9vw)*3);
    text-align: right;
}

.table-item {
    color: #ffc107;
    &:hover {
        background-color: white;
        color: #3b3b3b;
        cursor: pointer;
    }
}

.stripe-0 {
    background-color: #222222;
}

.stripe-1 {
    background-color: #3b3b3b;
}

.table-header {
    background-color: #3b3b3b;
    color: white;

}


.square {
    width: 2.5em;
    height: 2.5em;
}

.mini-square {
    width: 1.5em;
    height: 1.5em;
}
.mh-25em {
    max-height: 25em;
}

.taken-seat {
    background-color: gray !important;
    color: white;
}

.chosen-seat {
    background-color: #ffc107 !important;
}

.extra-leg-room-seat {
    background-color: #A5C7F7;
}

.near-exit {
    background-color: #B4EF94;
}

.selected-seat {
    border: 5px solid #0000FF;
}

